.admin{
    margin: 0px;
}
.lists{
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content:space-between;
    align-items: center;
    overflow-x: scroll;
}
.heading_1{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 70px;
    margin-top: -100px;
}

.parent{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}